---
import Temp from '../components/Temp.astro'
import BtnLink from '../components/BtnLink.astro'
import MusicBtn from '../components/MusicBtn.astro'
---

<html lang='en'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' href='/favicon.ico' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Anael & Braian</title>

		<style is:global>

			.color-gradient {
				background: linear-gradient(27deg, rgba(244,239,230,1) 0%, rgba(221,207,186,1) 100%);
			}
		
			@keyframes fadeIn {
				from {
					opacity: 0;
					translate: 0 100px;
				}
				to {
					opacity: 1;
					translate: 0 0;
				}
			}
		
			@keyframes showModal {
					from {
						opacity: 0;
					}
				}
		
			.modal {
				animation: showModal .5s ease-in-out
			}
			
		
			.reveal {
				opacity: 0;
			}
			.fadeIn {
				animation: fadeIn .5s ease-in-out both;
			}
		
			@keyframes charge-title {
				from {
					opacity: 0;
					translate: 0 200px;
					scale: 1.5;
				}
				to {
					opacity: 1;
					translate: 0 0;
					scale: 1;
				}
			}
			@keyframes charge-subtitle {
				from {
					opacity: 0;
					translate: 100px 50px;
				}
				to {
					opacity: 1;
					translate: 0 0;
				}
			}
			@keyframes showingImages {
				from {
					opacity: 0;
					scale: 1.5;
				}
			}
		
			.animateImage  {
				animation: showingImages 3s ease-out;
			}

			/* icons animations */
			.copa1, .copa2, .saco, .vestido, .musica, .tapa, .caja, .music-right, .music-left {
				position: absolute;
				top: 0;
				height: 100%;
				object-fit: contain;
			}
			.copa1 {
				left: 0;
				animation: moveCopa1 1s ease-in-out infinite alternate;
			}
			.copa2 {
				right: 0;
				animation: moveCopa2 1s ease-in-out infinite alternate;
			}
			.brillo-copas {
				position: absolute;
				top: -30px;
				left: 0;
				right: 0;
				margin: 0 auto;
				width: 40px;
				animation: brillo-copas 1s ease-in-out infinite alternate;
			}

			@keyframes moveCopa1 {
				0% {rotate: 0; translate: -10px 3px;}
				30% {rotate: 0; translate: -10px 3px;}
				30% {rotate: -5deg;}
				70% {rotate: 23deg; translate: 0 0;}
				100% {rotate: 23deg;}
			}

			@keyframes moveCopa2 {
				0% {rotate: 0; translate: 10px 3px;}
				30% {rotate: 0; translate: 10px 3px;}
				30% {rotate: 5deg;}
				70% {rotate: -23deg; translate: 0 0;}
				100% {rotate: -23deg;}
			}

			@keyframes brillo-copas {
				0% {opacity: 0;}
				60% {opacity: 0; translate: 0 15px;}
				70% {opacity: 1; translate: 0 0;}
				90% {opacity: 1;}
			}

			.saco {
				left: 0;
				animation: dance 1s ease-in-out infinite alternate;
			}
			.vestido {
				right: 0;
				animation: dance 1s ease-in-out infinite alternate-reverse;
			}

			@keyframes dance {
				0% {rotate: 5deg;translate: 0 2px;}
				20% {rotate: 5deg;translate: 0 0;}
				40% {translate: 0 2px;}
				60% {translate: 0 2px;}
				80% {rotate: -5deg; translate: 0 0;}
				100% {rotate: -5deg; translate: 0 2px;}
			}

			.musica {
				left: 0;
				right: 0;
				margin: 0 auto;
				animation: musica 1.5s ease-in-out infinite alternate;
			}
			.music-right, .music-left {
				width: 12px;
				object-fit: contain;
			}

			.music-right {
				right: -5px;
				top: 15px;
				animation: musica 1s ease-in-out infinite .3s alternate;
			}
			.music-left {
				left: 15px;
				top: -30px;
				animation: musica .7s ease-in-out infinite 1s alternate;
			}

			@keyframes musica {
				0% {rotate: 10deg;}
				50% {rotate: 0;}
				100% {rotate: -10deg;}
			}

			.tapa {
				top: -45px;
				animation: tapa 2s ease-in-out infinite alternate;
			}

			@keyframes tapa {
				10% {rotate: 0deg; translate: 0 0;}
				50% {rotate: 0deg; translate: 0 0;}
				70% {rotate: 50deg; translate: 40px -30px;}
				100% {rotate: 50deg; translate: 40px -30px;}
			}
		
			.titleImage {
				animation: charge-title 1s ease-in-out;
			}
			#misxv {
				animation: charge-subtitle .7s ease-in-out 1s forwards;
			}

			.ring-left {
				animation: ring-left 2s infinite ease-in;
			}
			.ring-right {
				animation: ring-right 2s infinite ease-in;
			}

			.corazon {
				animation: corazon 2s infinite ease-in;
			}

			.destello-corazon-1 {
				animation: destello-corazon-1 2s infinite ease-in;
			}
			.destello-corazon-2 {
				animation: destello-corazon-2 2s infinite ease-in;
			}

			@keyframes destello-corazon-1 {
				0%, 60%, 100% {
					opacity: 0;
					scale: 0;
					translate: -50%;
				}
				15%, 45% {
					opacity: 1;
					scale: 1;
					translate: 0 0;
				}
			}

			@keyframes destello-corazon-2 {
				0%, 60%, 100% {
					opacity: 0;
					scale: 0;
					translate: -50%;
				}
				15%, 45% {
					opacity: 1;
					scale: 1;
					translate: 0 0;
				}
			}

			@keyframes corazon {
				0%, 60%, 100% {
					opacity: 0;
					scale: 0;
					translate: -50% 20px;
				}
				10%, 50% {
					opacity: 1;
					scale: 1;
					translate: 0 0;
				}
			}

			@keyframes ring-left {
				0%, 100% {
					translate: -3px 0;
				}
				10% {
					translate: -3px 10px;
				}
				30% {
					translate: 5px 5px;
				}
				70% {
					translate: 5px 10px;
				}
				80% {
					translate: -3px 5px;
				}
				
			}

			@keyframes ring-right {
				0%, 100% {
					translate: -3px 0;
				}
				10% {
					translate: 3px 10px;
				}
				30% {
					translate: -5px 5px;
				}
				70% {
					translate: -5px 10px;
				}
				80% {
					translate: 3px 5px;
				}
				
			}

			.tarjeta1 {
				position: absolute;
				transform-origin: left bottom;
				bottom: 0;
				animation: moveTarjeta1 2s ease-in-out infinite;
			}

			.tarjeta2 {
				position: absolute;
				transform-origin: left bottom;
				z-index: -1;
				bottom: 0;
				animation: moveTarjeta2 2s ease-in-out infinite;
			}

			@keyframes moveTarjeta1 {
				0%, 100% {rotate: 0;}
				15% {rotate: -7deg;}
				25% {rotate: -2deg;}
				35%, 80% {rotate: -5deg;}
			}
			@keyframes moveTarjeta2 {
				0%, 100% {rotate: 0;}
				20% {rotate: -35deg; translate: 0 -5px;}
				30% {rotate: -25deg; translate: 0 -5px;}
				40%, 80% {rotate: -30deg; translate: 0 -5px;}
			}

			.phone {
				height: 100%;
				width: 100%;
				object-fit: contain;
				position: absolute;
				position: absolute;
				animation: movePhone 2s ease-in-out infinite;
			}

			.notification {
				width: 100%;
				height: 35%;
				object-fit: contain;
				position: absolute;
				top: 18px;
				right: -15px;
				animation: moveNotification 2s ease-in-out infinite;
			}

			@keyframes movePhone {
				0%, 100% {rotate: 0;}
				5% {rotate: -5deg;}
				10% {rotate: 5deg;}
				15% {rotate: -5deg;}
				20% {rotate: 5deg;}
				25% {rotate: -5deg;}
				30% {rotate: 5deg;}
				35% {rotate: -5deg;}
				40% {rotate: 0deg;}
			}

			@keyframes moveNotification {
				0%, 30%, 100% {translate: 0 0;opacity: 1;}
				40% {translate: -5px 0; opacity: 1;}
				50% {translate: 5px 0; opacity: 1;}
				70%, 90% {translate: -5px 0; opacity: 1;}
			}

			@font-face {
				font-family: 'britany';
				src: url('/fonts/BRITTANYSIGNATURE.ttf');
			}

			@font-face {
				font-family: 'Montserrat-light';
				src: url('/fonts/Montserrat-Light.ttf');
			}

			@font-face {
				font-family: 'Montserrat';
				src: url('/fonts/Montserrat-Regular.ttf');
			}
		</style>
	</head>
	<body class="relative">
		<img
			src='/background.jpg'
			alt="bacground texture"
			class="fixed top-0 left-0 w-full min-h-full object-cover -z-50 opacity-80"
		>

		<MusicBtn />

		<div class='max-w-full overflow-hidden relative'>
			<img src='Fondo/Fondo1/Izquierda 2.png' alt='background' class='absolute -z-10 bottom-[0] left-[0] w-[50%] max-w-[310px] translate-x-[-40%] translate-y-[-60%]'>
			<img src='Fondo/Fondo1/izquierda 3.png' alt='background' class='absolute -z-10 bottom-[0] left-[0] w-[50%] max-w-[310px] translate-x-[-10%] translate-y-[-55%]'>
			<img src='Fondo/Fondo1/izquierda 3.png' alt='background' class='absolute -z-10 bottom-[0] left-[0] w-[50%] max-w-[310px] translate-x-[-10%] translate-y-[-55%]'>
			<img src='Fondo/Fondo1/planta.png' alt='background' class='absolute -z-10 top-[-20px] right-[-30px] w-[80%] max-w-[500px]'>
			
			<!-- preview -->
			<section class='h-screen w-full grid place-content-center relative'>
				<img src='Fondo/Fondo1/Izquierda1.png' alt='background' class='absolute -z-10 top-[0] left-[0] w-[80%] max-w-[500px] translate-x-[-30%] translate-y-[-10%]'>
				
				<img src='Fondo/Fondo1/Derecha 4.png' alt='background' class='absolute -z-10 top-[40%] right-[0] w-[80%] max-w-[500px] translate-x-[45%] translate-y-[0]'>
				
				<div class='flex flex-col relative -rotate-12 translate-x-3'>
					<img src='Fondo/Fondo1/planta.png' alt='background' class='absolute -z-10 bottom-[-30px] left-[-30px] w-[60%] rotate-180'>
					<h1 class="titleImage font-[britany] text-8xl md:text-9xl text-text-color mb-14">Anael</h1>
					<h1 class="titleImage font-[britany] text-8xl md:text-9xl text-text-color mb-6">Braian</h1>
					<h1 class="titleImage font-[britany] rotate-12 text-[100px] md:text-[130px] text-[#9c7e35]/70 absolute top-[55px] right-[70px] md:top-[75px] md:right-[100px] -z-10">Y</h1> 
				</div>

				<h4
					class="font-[Montserrat-light] text-center text-2xl text-[#9c7e35] absolute bottom-[100px] left-[50%] translate-x-[-50%] text-nowrap"
				>
					- NOS CASAMOS -
				</h4>
			</section>
	
			<!-- temporizador -->
			<section class='grid place-content-center reveal'>
				<Temp />
			</section>
		</div>

		<!-- information -->
		<section class='bg-background-color/70 py-10 gradient-color shadow-lg relative'>
			<span class="inline-block bg-white w-full h-[5px] absolute top-[10px]"/>

			<h2 class="font-[montserrat] text-center text-2xl text-balance md:text-3xl text uppercase mb-14 text-white">
				¡Queremos que seas parte de esta gran noche!
			</h2>
			
			<div class="grid grid-cols-1 md:grid-cols-2 gap-16 md:gap-52">
				<div class='reveal flex flex-col items-center w-fit place-self-center md:place-self-end'>
	
					<div class="relative w-[150px] mx-auto h-[80px]">
						<div class="scale-50">
							<img src="animation-icons/destello corazon.png" alt="ring" class="absolute -top-8 left-1/2 -translate-x-[50px] -rotate-90 w-[30px] destello-corazon-1">
							<img src="animation-icons/destello corazon.png" alt="ring" class="absolute -top-8 left-1/2 translate-x-[20px] rotate-90 w-[30px] destello-corazon-2">
							<img src="animation-icons/corazon.png" alt="ring" class="absolute -top-10 left-1/2 -translate-x-[50%] w-[40px] corazon">
			
							<img src="animation-icons/Anilla el.png" alt="ring" class="absolute top-5 left-0 rotate-180 w-[100px] ring-left">
							<img src="animation-icons/Anillo ella.png" alt="ring" class="absolute -top-1 right-0 w-[100px] rotate-12 ring-right">
							<img src="animation-icons/anillo el 2.png" alt="ring" class="absolute top-5 left-0 rotate-180 w-[100px] mt-[50px] ring-left">
						</div>
					</div>
	
					<h2 class='font-[Montserrat] text-3xl text-white mt-1 mb-3'>SI, ACEPTO!</h2>
		
					<div class='flex flex-col font-[Montserrat] text-base text-white mb-5 mx-5 text-balance'>
						<p>Viernes 28 de Febrero de 2025</p>
						<p>a las 21:40 hs</p>
						<p>Iglesia "Nuestra Señora de la Merced"</p>
						<p>Belisario Roldan y Vicente Lopez - Rio Cuarto</p>
					</div>
		
					<span class='font-[Montserrat] text-center text-base text-white mb-5'>
						Clickea para saber como llegar
					</span>
		
					<BtnLink
						outline
						href='https://maps.app.goo.gl/DTDiFW8VBGihijNG8'
					>
						Como llegar
					</BtnLink>
				</div>

				<div class='reveal flex flex-col items-center w-fit place-self-center md:place-self-start'>
	
					<div class="relative w-[80px] h-[80px] mb-2">
						<img src='/animation-icons/copa.png' alt='icon' class='copa1'>
						<img src='/animation-icons/copa.png' alt='icon' class='copa2'>
						<img src='/animation-icons/destello corazon.png' alt='icon' class='brillo-copas'>
					</div>
	
					<h2 class='font-[Montserrat] text-3xl text-white mt-1 mb-3'>FIESTA FIESTA!</h2>
		
					<div class='flex flex-col font-[Montserrat] text-base text-white mb-5 mx-5 text-balance'>
						<p>Al finalizar la ceremonia</p>
						<p>los esperamos en</p>
						<p>Sal Grosa fiestas y eventos</p>
						<p>Av. Marcelo T. de Alvear 1177 - Rio Cuarto</p>
					</div>
		
					<span class='font-[Montserrat] text-center text-base text-white mb-5'>
						Clickea para saber como llegar
					</span>
		
					<BtnLink
						outline
						href='https://maps.app.goo.gl/1p4bsKcQ9q2baRM2A'
					>
						Como llegar
					</BtnLink>
				</div>
			</div>

			<span class="inline-block bg-white w-full h-[5px] absolute bottom-[10px]"/>
		</section>
		
		<div class='relative max-w-full overflow-hidden'>
			<img src='Fondo/Fondo2/izquierda arriba torcido.png' alt='background' class='absolute -z-10 top-[0] left-[0] w-[30%] max-w-[280px] translate-x-[-20%] translate-y-[-40%] rotate-[30deg]'>
			<img src='Fondo/Fondo2/izquierda aba.1.png' alt='background' class='absolute -z-10 top-[50%] left-[0] w-[40%] max-w-[230px] translate-x-[-30%] translate-y-[-10%]'>
			<img src='Fondo/Fondo2/Derecha abajo torcida.png' alt='background' class='absolute -z-10 top-[55%] right-[0] w-[40%] max-w-[230px] translate-x-[50%] rotate-[-55deg]'>
			<img src='Fondo/Fondo2/Derecha arriba 1.png' alt='background' class='absolute -z-10 top-[0] right-[0] w-[40%] max-w-[230px] translate-x-[40%] translate-y-[-10%]'>

			<!-- confirm -->
			<section class='flex flex-col items-center py-20 reveal mx-5'>
				<div class="relative w-[80px] h-[80px] mb-2">
					<img src='/animation-icons/asistencia.png' alt='phone icon' class='phone'>
					<img src='/animation-icons/Asistencia 2.png' alt='notification icon' class='notification'>
				</div>

				<h2 class='font-[Montserrat] text-center text-3xl text-text-color mb-3 text-balance'>CONFIRMAR ASISTENCIA</h2>

				<span class='font-[Montserrat] text-center text-xl text-text-color mb-3 text-balance'>Nosotros ya dimos el SI, ahora solo faltas vos! </span>

				<span class='font-[Montserrat] text-center text-sm text-text-color mb-7 text-balance'>¡Confirma tu asistencia aquí abajo antes del <strong>15 de Febrero!</strong></span>

				<BtnLink href='https://forms.gle/gsyS9HLqBmC5uSS28'>
					CONFIRMAR ASISTENCIA
				</BtnLink>
			</section>

			<!-- Dress code -->
			<section class='flex flex-col items-center pt-0 pb-20 reveal'>

				<div class="relative w-[110px] h-[80px] mb-2">
					<img src='/animation-icons/traje.png' alt='icon' class='saco'>
					<img src='/animation-icons/vestido.png' alt='icon' class='vestido'>
				</div>
				<h2 class='font-[Montserrat] text-center text-3xl text-text-color'>DRESS CODE</h2>
				<h3 class='font-[Montserrat] text-center text-2xl text-text-color my-2'>COLOR? FULL BLACK</h3>

				<span class='font-[Montserrat] text-center text-lg text-text-color text-balance'>Lo suficientemente lindos para romperla en las fotos, pero lo más cómodos posibles para no dejar de bailar</span>
				<!-- <span class='font-[Montserrat] text-center text-lg text-text-color text-balance'>lo suficientemente cómodos para bailar toda la noche!</span> -->
			</section>
		</div>

		<div>
			<!-- Playlist -->
			<section class='flex flex-col items-center pb-20 pt-0 reveal'>

				<div class="relative w-[110px] h-[80px] mb-2 ">
					<img src='/animation-icons/musica.png' alt='icon' class='musica'>
					<img src='/animation-icons/musica derecha.png' alt='icon' class='music-right'>
					<img src='/animation-icons/musica izquierda.png' alt='icon' class='music-left'>
				</div>

				<h2 class='font-[Montserrat] text-center text-3xl text-text-color mb-3'>QUE NO FALTE TU CANCIÓN FAVORITA</h2>

				
				<span class='font-[Montserrat] text-center text-base text-text-color mb-5 mx-5 text-balance'>Contamos que canción no puede faltar para este gran dia</span>

				<BtnLink href='https://forms.gle/XViUMntVBM2Bh9ju7'>
					PLAYLIST
				</BtnLink>
			</section>

		</div>

		<section class='bg-background-color/70 py-10 gradient-color shadow-lg relative'>
			<span class="inline-block bg-white w-full h-[5px] absolute top-[10px]"/>

			<div class='reveal flex flex-col items-center mt-6'>
				<div class="relative w-[80px] h-[40px] mb-2">
					<img src='/animation-icons/tarjeta.png' alt='tarjeta icon' class='tarjeta1'>
					<img src='/animation-icons/tarjeta.png' alt='tarjeta icon' class='tarjeta2'>
				</div>

				<h2 class='font-[Montserrat] text-3xl text-white mt-1 mb-3'>VALOR DE LA TARJETA</h2>

				<div class='flex flex-col font-[Montserrat] text-base text-white mb-5 mx-5 text-balance items-center'>
					<p>Adultos $45.000</p>
					<p>Niños (de 3 a 8 años) $20.500</p>
				</div>

				<button id="showButton" class="btn-link h-[50px] pt-[2px] px-5 grid place-content-center rounded-full text-button-text-color text-[18px] font-[Montserrat] uppercase transition-all duration-300 mt-5 border hover:bg-background-color hover:text-white">
					PAGUE AQUI
				</button>
			</div>

			<span class="inline-block bg-white w-full h-[5px] absolute bottom-[10px]"/>
		</section>
		
		<h3 class='font-[britany] text-text-color text-5xl pb-20 pt-10 text-center reveal mx-5 text-balance -rotate-12 mt-20'>Vamos como queremos, volvemos como podemos!</h3>

		<!-- modal -->
		<div class="modal-container hidden fixed inset-0 top-0 bg-background-color/50 h-screen w-screen place-content-center backdrop-blur-lg px-[20px]" id="modal-container">
			<div id="modal-bg" class="modal-bg w-full h-full absolute inset-0 bg-transparent z-10" />

			<div class="modal bg-[url('/background-modal.jpg')] bg-cover bg-center bg-no-repeat rounded-lg px-5 py-6 flex flex-col w-full z-50">
				<section class="mb-5">
					<h3 class="font-[Montserrat] text-center text-3xl text-text-color">DATOS BANCARIOS</h3>

					<div>
						<p class="font-[Montserrat] text-center text-xl text-text-color">Nombre del Titular: Anael</p>
						<p class="font-[Montserrat] text-center text-xl text-text-color">Alias: anael.769.mp</p>
					</div>

					<br/>
					
					<div>
						<p class="font-[Montserrat] text-center text-xl text-text-color">Nombre del Titular: Braian</p>
						<p class="font-[Montserrat] text-center text-xl text-text-color">Alias: Braian.086.b</p>
					</div>
				</section>

				<section>
					<!-- <h3 class="font-[Montserrat] text-center text-3xl text-text-color">BUZON DE REGALOS</h3> -->
					<p class="font-[Montserrat] text-center text-lg text-text-color">Si no tambien puedes abonar en efectivo</p>
				</section>
			</div>
		</div>

		<script>
			function observeElementsWithAnimation(targetClass, animationClass) {
			// Verifica si IntersectionObserver es soportado
			if (!('IntersectionObserver' in window)) {
				console.warn('IntersectionObserver no está soportado en este navegador.');
				return;
			}

			// Selecciona todos los elementos con la clase específica
			const elements = document.querySelectorAll(`.${targetClass}`);
			
			// Si no hay elementos, no hace nada
			if (elements.length === 0) {
				console.warn(`No se encontraron elementos con la clase '${targetClass}'.`);
				return;
			}

			// Configuración del IntersectionObserver
			const observerOptions = {
				root: null, // Usa la ventana como viewport
				threshold: 0.2 // El elemento debe ser al menos un 10% visible
			};

			const observer = new IntersectionObserver((entries, observer) => {
				entries.forEach(entry => {
					if (entry.isIntersecting) {
						// Agrega la clase de animación
						entry.target.classList.add(animationClass);

						// Deja de observar el elemento después de activarse la animación
						observer.unobserve(entry.target);
					}
				});
			}, observerOptions);

			// Observa cada elemento
			elements.forEach(element => observer.observe(element));
		}

		observeElementsWithAnimation('reveal', 'fadeIn');
		</script>

		<script>
			const showButton = document.getElementById('showButton');
			const modal = document.getElementById('modal-container');
			const backgroundModal = document.getElementById('modal-bg')

			let show = false
			showButton.addEventListener('click', () => {
				show = !show
				modal.style.display = show ? 'grid' : 'none';
			});

			backgroundModal.addEventListener('click', () => {
				show = false
				modal.style.display = 'none';
			})

			if (show) {
				document.body.style.overflow = 'hidden';
			} else {
				document.body.style.overflow = 'auto';
			}

		</script>
	</body>
</html>
