---
  const { href } = Astro.props;
---

<a href={href} target="_blank" class="btn-link bg-[#9c7a32b5] w-[206px] h-[50px] grid place-content-center rounded-full text-white text-[18px] font-[Oswald] uppercase hover:bg-black transition-all duration-300">
  <slot />
</a>
