---
  const { href, outline } = Astro.props;
---

<a href={href} target="_blank" class=`btn-link h-[50px] pt-[2px] px-5 grid place-content-center rounded-full text-button-text-color text-[18px] font-[Montserrat] uppercase transition-all duration-300 mt-5 border ${outline ? 'border-white' : 'bg-botton-color' } hover:bg-background-color hover:text-white`>
  <slot />
</a>
