---
---

<button id="playButton" class="flex gap-2 items-center outline-none border-none font-[Oswald-Regular] fixed right-[50%] translate-x-[50%] top-5 bg-[#00000050] py-2 px-4 rounded-full text-white backdrop-blur-sm z-50 shadow-lg active:scale-95 transition-all duration-300 text-nowrap hover:shadow-xl">
  <svg id="playIcon"  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-player-play"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z" /></svg>

  <svg id="pauseIcon"  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="hidden icon icon-tabler icons-tabler-filled icon-tabler-player-pause"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 4h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h2a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2z" /><path d="M17 4h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h2a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2z" /></svg>

  

  Bruno Mars - Count on Me
</button>
<audio id="audioPlayer" src="/Bruno Mars - Count on Me.m4a"></audio>

<script>
  // Selecciona el botón y el elemento de audio
  const playButton = document.getElementById('playButton');
  const audioPlayer = document.getElementById('audioPlayer');
  const playIcon = document.getElementById('playIcon');
  const pauseIcon = document.getElementById('pauseIcon');


  // Agrega un evento de clic al botón
  playButton.addEventListener('click', () => {
    if (audioPlayer.paused) {
      audioPlayer.play(); // Reproduce la canción
      pauseIcon.classList.remove('hidden'); // Oculta el icono de pausa
      playIcon.classList.add('hidden'); // Muestra el icono de reproducción
    } else {
      audioPlayer.pause(); // Pausa la canción
      pauseIcon.classList.add('hidden'); // Muestra el icono de pausa
      playIcon.classList.remove('hidden'); // Oculta el icono de reproducción
    }
  });
</script>